//
// Written by Synplify Pro 
// Product Version "O-2018.09G-SP1-1-Beta1"
// Program "Synplify Pro", Mapper "mapgw2018q4p1, Build 001R"
// Mon Aug 26 18:59:21 2019
//
// Source file index table:
// Object locations will have the form <file>:<line>
// file 0 "\e:\gowin\gowin_v1.9.1.01beta\synplifypro\lib\generic\gw1n.v "
// file 1 "\e:\gowin\gowin_v1.9.1.01beta\synplifypro\lib\vlog\hypermods.v "
// file 2 "\e:\gowin\gowin_v1.9.1.01beta\synplifypro\lib\vlog\umr_capim.v "
// file 3 "\e:\gowin\gowin_v1.9.1.01beta\synplifypro\lib\vlog\scemi_objects.v "
// file 4 "\e:\gowin\gowin_v1.9.1.01beta\synplifypro\lib\vlog\scemi_pipes.svh "
// file 5 "\e:\gowin\gowin_v1.9.1.01beta\ide\data\ipcores\gao_lite\gw_con\gw_con_parameter.v "
// file 6 "\e:\gowin\gowin_v1.9.1.01beta\ide\data\ipcores\gao_lite\gw_con\gw_con_top_define.v "
// file 7 "\e:\gowin\gowin_v1.9.1.01beta\ide\data\ipcores\gao_lite\gw_con\gw_con_top.v "
// file 8 "\e:\gowin\gowin_v1.9.1.01beta\synplifypro\lib\nlconst.dat "

`timescale 100 ps/100 ps
`pragma protect begin_protected
`pragma protect version=1
`pragma protect author="default"
`pragma protect author_info="default"
`pragma protect encrypt_agent="Synplify encryptP1735.pl"
`pragma protect encrypt_agent_info="Synplify encryptP1735.pl Version 1.1"

`pragma protect encoding=(enctype="base64", line_length=76, bytes=256)
`pragma protect key_keyowner="Synplicity"
`pragma protect key_keyname="SYNP05_001"
`pragma protect key_method="rsa"
`pragma protect key_block
hpggv0Tm4wocDUFHdWKHHpAXB9LSbT6jwkjnxyWrCfCmz4QW6cwJlT3/UoeUCNUT5fJbIz9BfRVc
ncw6I5EDrnITof5tqjcfxkBgtB179czSfZnZ/ic9I+5tKSUSPz3yrZp2eFqR6maFJ4ZFO3ggJQRI
pMSxtGVtQNscosLDvlb7UBhCxLhz9HtSU3bAFqFdYJ6Ds4Gc6dUppvHj2vGY3kGoKWzRosBKS7op
WVhQl98MN1yzjocyiSTc23o5Z7CC4NoOElkZD+PHCv3QZatGCrF/Ixhyj7NkSJof9JAeqdxRN1Ol
uUZKkt8tieyz4Ng6dtNiWV1/w/P3xNM/Z9viyg==

`pragma protect encoding=(enctype="base64", line_length=76, bytes=256)
`pragma protect key_keyowner="GoWin"
`pragma protect key_keyname="GoWin2016"
`pragma protect key_method="rsa"
`pragma protect key_block
Wx+Z2F6166z7OXdCxTlURHlH51lrKlEw/V2tkTPJ4ddpwew0C7Mbi3RN/SMocOQTodX7RnpijzeW
Hrw2+8gA+9Mv3HskgEl+/CKPzSBbJO08rk5DbwzcxptXojpKt65aHNmSH3+/nZLR9U5OHJ7klLQs
X5gK5tvAHmk/f/dtB4WECVOVppFSFYyj8lGk4TRhh/t68x9Bwyu7SApWXSy7Y8cTXlRMfhDdDVp0
MjHTXirWWiYlRCUe43X3ZK6jYwQm9E5oXB4R1YevzbiMAhc5OMALYNVtBjnAr205F5RAnm2B8Zg7
T3KG+GLsMSyOxhOrJ01noNq7AIkMYL9q+hECGQ==

`pragma protect data_keyowner="default-ip-vendor"
`pragma protect data_keyname="default-ip-key"
`pragma protect data_method="aes128-cbc"
`pragma protect encoding=(enctype="base64", line_length=76, bytes=7072)
`pragma protect data_block
t84EYPKvQvKoQGITP5Is5fWsyOdSimIt8ClUYsC2dKvW3d5c20V/DUmb+BYtkPllhofqXOsJz3KA
Ke5d13ThaGEc2qPHxpE7jRDOimHBXF8t6BsaMFJFOsQPHT826bt4v/nqLr888n5F3bBw1Th29tPm
yKd+iA3Ob7qcXr+xKptJiyxGvxYb5fRlbIBAM8FR1yrV1ZrTpDXZnArEJDMQj3txVFUxl1PHSvwV
k7Ts0WSpM19qVLlAXaCpGndZzaPE+ncrpUcYBFvFBmiR+ULzwEJqEMqMZDEyeBXUvzpnQOJU+m2C
L5pDtDRXtbX/Wug/sNZG5/QfeXIjy4NbZxyOfFlO5Z6qvuQZSqlIAWcFcNwDAqR6/k3wxRoXhOUA
+EbJuNFYsXdn0TrQmeDlwSsVPRX3Bn06e4T+w5ZdYDfYLjZBFHQAZ6u5o6S7xhGm126u9NydoTUq
vCSIpicly1v4ONfYRCdQaNm57zBGV2oNs+GRp2PRprIPpQ1I08iH5Kjbzk/lE9VFFmB/Shjiawtm
703/XMbiq8wVJp5xMqrPLA1sj2GQx2Ijt30yF8xmS+0ZP/CkZ26w778Tz1XN4qJiFhP8jQckK5i4
DWRN+MrRM5jqrKQLec00dUIdYoRtQp9hrKufI1Ip2Nj5kd+WoHPA21EO47tZ3QTzW5+MEbcvy2XX
m/nISyub3fkbYzxebUyME9vCtO7+u6IOm47ty+w//gbRRm+hXY5vWdvGDLqI9+HBSzsYh4gt0Qe9
cOfXXw7Z/jPVdnJ/TFe9ffYpF0LDzmS7twlpESXx5pFhFtRJwZhz/00gepv1DpsdtGgUcC3YIhOh
ntb30QOgEwdTRSP+5waVEBj9M/WTj/6vSS6i9YtBQzwC7PlMabin+v4llg3SBQDplLCHZeo7hQXh
lTxAoOZeQkJBB8e9Zz3vHDaO6K832MKD3XjEj6OK8omnlBj3Q6ZXXlW6+EsfuFWX2yw5i919gUNi
qe/Cto5mJ3Ccst3OyWwrQzgMbPzzdH0U+KZGVNpx1S9mizaMSjLq5c9dxO34dmgYAhSdVJAK3ls5
JHyk7anhgHlmr0o8DG//PoJD/Fx+yBM1mWm03F7iXgqDxl0H+2MCosLRrCsYvy6Nole328lBdhwC
M9dm3orJue5sFI0niFacKkk1LECujmv3TXO89IpiYj65VsJP6pARi2kSlK4E6KD/PYKxB+4C7STv
M50jFBD9IrxdsyU6ziwHItn85uhzQzKyDIu1M7Eg+hetanOHDW6GrghO1Wpak7hlnqA7csJ4RzQC
1zyc89U9NJE2QDp06slZoX8pMg5OAFZC6+5E+l/MN4JUDC0bcfjlUqLptx18TP28wURiDsSdXn9T
WNSYhdoo9Mlaz2wFhh7Rx4GbhBwtI55mIvT0LbZz486hq1tenHUbyHJFoDNuskD1Drbo/dYE2V7L
ydiuY1r6+j5COiaTS1UIolPneyO/N7oOMpOJYxpdUdVDhhKSla+Vu0IcAW+XF4GEnx3rbGvLt0EP
b5bW01WqR9062o1svEQgzOdpmGygw2mq/fIArZlP6X2OdFDCT2jLNsw/b/jJhRRNUrDTZVnHBqso
NjmUTqBdMmpEgz85LcyljV1zcp41dbsXlu/IkqjK6rOLr2pupQv1LgTytSyTAcg/jwJN6MTnIdG/
xo9pmwjDQYAclj4hqMhL9Q3q4oAyeZK66D1MySuCjS+LBoc5oq5m6zUIdNk1nVBtJM4Xd1Qf4cJ7
g39CSaqHUtq4qigWc9N+TCITjmnQFaoRArNKY0xlWMTgOuRy3DxCJ//ZvZWtzvL3JxAfaNmUhJO1
r5pZSa2DEKt/5NqBk1PV4uCAx+9Iz/XTfAGi02pVnMhKzj8kEKYmK4ZZbvWZ9D286MmUSrK48r6s
8eypgtuGmGfVbk9cBwSLmAaB+a0zQj3jvFo4C31ng5oYsjPMKmASJ3xNMywGYgvmvsUJR+CCK11B
XBbLE/6NN9Rdsr0ROxQZVcJCxAFJkeqgWBkOhhYF1tIVju77z02GLosq6+eYNqneqa7ZQSAdCKXk
h2NFczl5SL7ARoyOtVgT1LTKpmM8eRVvs6qRuWOpmEv5cdzYbE4uL44DbnJexCOafpTK5qDWfSxS
ahNhZl909i+OfEI4mPF5KTaDHYqexpct7woOoEVMufUnUt+nlItDK3ppQHA5dZ4yz0gvbdW3vd6z
1ART2ksi1byQvULEhgSbhLQzdl9kAHhJ3OkeAiUe+NHwY3aE80fazZ9XifVM7NYbgh2i/Vwdpl9+
AWnldkCpgocE48n70NFx3S1bohUign+GMiVxblHHvskZXcf61OHiT6AnyQ2siIEkGdOHSYYQvHmb
YqJYfHPfiOffNm9QYp8jz3PAxDMmycMI5R36fLKGOshI/19Z0Y9oQ4P4J2eh2rkTo9TEh75eyC1X
AHMrDMhDQtxGDcQ6GWvd8k3EwtNDK0Gt+t/R9tlxUnpN5qGuqhDUDMe89eOgztsOIoJtTMLuDoaD
UZN3cTW9bOhd9GCjl0DmqwvSTZmNkEKoYwjp1MhL2hU+Wf2ewC7F/XTXs2xFjoUDRPWmZXoBZykp
K+KHEsnf2MJuMWfT84eyqYfgBI7nqc2dfd9Vr3+R8qLF1PLiji8BhxZlOOtq8BtDClkLevrO/mX/
KDtAy1WNl4fD53bvdQ75tRjcvXRs80b9/jl2J8Db3QlxIgaVMKosaBIt6UDSMvtcyIGMgJ/979yb
/E2dNzUcfq1cfjM+9I4KgFzJl94SK4Lc4edBhNIdN9NZVG+kPb5154/sRfpQnYigwevZP/Ddmaon
8OiKiX5pJWLMaK27nK5W981ZBRTkk7pTNauzu22ZVyC4YHEQsSZAZ0z8zLNRB2xX4DSKO4infVRW
tLoen2V4GP1AwFuCRpPpwwZJaJ31km+0qj+O49BmLE2ZLYbp/Y8ez0UT0Vpc6+lGC/B8kYY5Jx5Q
drkJ17vr8ggiOpr8OpI0ITLzpBB6/wVvFBAeD57USxBHsMI4MmajQSG7ISqnDUFaZqlzqXJVQ5/0
34hEsnTz6cy83+UM+S2ooDOY13GBnOHhC4FggNCwY3Tjbthtoo07UbKLEc0+bFb6SuUfPj/oU+E2
MO3zrlgJZYSlx7tFohK1LmhuDcmHhUwEzlpLZkvfYGJ/2eKG3Z7zaF9xKMZEm8+aYa+M4kJp21QH
Ocoi5TKdgM4CnTDW1Sr1H3MEL23Xml682BkcPeWtpicfxe5Xos5V2SWah+ZKeFPDKOpGL/pMBxm9
9Dwc6cvSgBMiqsh5Nowo8q2dJNdNvjxFjPmbfm6dJVgoQmAInCXk9pX1ZFCCAhMuRurzcYu5CtY9
9vwvV9LCsS8zAZwqz6O22dH+xYZ6fYaxPz5f8tgxCqDCXLO1s1QdZTLddEpZaAJ3H1+THWD9IvDA
Nd5bWt+iadRVYt566/REhe08N8pGMFvIBrOFMuTgr+gmCx5gwGOULmv43OiMGCP3vkav+u0LfOHY
rgeFDc14zgKLZ6y4kf3Lb0lje55t2Nv2TJN/M+RjF1AOCnVi1m+1+X3chs2+JRNshhXFZ0/L1r0M
oLVgkcfiWcSA3bYh1KYADqYiPk46PRNffkqDUARUymYshfw4bTdu83DbSrW66zatb0gzbRAD9I9L
4XuVJMHwOYavLDma9lZkRNBZQ5FSFdFo4/4AULW2HgHOFKOmsgpTDL3r/Tg7JfcVCDyJENZyBWTS
xhel+NFEDROePRbf92rz9lccK3I8kA48+/TYEa1oj8cxqGOFRUwCy2Al+2D8DQ0nkfewrcVsS1SJ
8Fgr3JXXQTapP4BYgBkR/v7dh8CzcZRWJV8EG4rX2ann74OM3nSj1FJtPzgjsOzriZoX9grLyYtb
qN2pMKCP952iLw65fvxniL8OuVYDMT0sdGhIn60D1HwSli9TN3paccHZBAXHjbjtwJOjlW7LKutt
plYL847acUZTGa+s3FxhY16KTfPvAd9XT38JWaqQqwJe/im/xkvGUeWLm7TUNuHz20Dn6iLuqvmV
XVLi11mhYi5h/KXOxOQPgIW0ErNNyEzJVImX93uvhB8wfxe4ww2SPrH4oYXKrrkiRdok9dg1LkKB
NThQxezbBnQ+75+RF31qzMEPMozl03eh+vwmRP88zd4XoIeQZ6XHLDrL7L+lxrO2S7LBaitHdYWY
ZXQ23zaMNTGKD0XFygg+3U5uHevGqqxwitOkNBVMCMZbiahVgNfHgiuVK509jwVKEgjck+6lGfZM
w3w/x+JWrxi8kLJeKoNKSq20eULeCxR4Ra9oKlLJFI4bhpQ9UvHIxRxjC87ISe+jWaLzymUUkD2y
Q3RwEXYqMiNukNy6DhqCODArV8dlK2hs87Kwj0ys+aH1Xtff0K9jKKHMGUwfNK+5/hbghUn2o2Py
ukibOrSakm2L6IGvJ6Zi+YsrzTiFLcQz62D5EULInJeqmeZHYsUsvVyYoaocIofJ5oQA0ndldVuC
ZiE4O23KKBVxh32ZFogNnX/vL2RUUKJGr5SsIvlsHdYR7YYWQwA0VT6mzKm0Jduzew79gaGCnHJ/
NO7ZTHVeZo4msJM2YDZKEtswTb6TWM/7/8dxEx/DziKDNBsZ5x7dgvnnkwB2hTV4dWJNkRP+8Cq8
2z0AU7cAO7z7G3ybk1CbMoBTA3RaMhvkDvFH1jf1u1HMvuEFsd6jqvbA1SWXu4Ftc13ncDmf55Yi
/SgXrqYuLqVgazGrm+mjw9O5pzustBvVAUnbtkEdgiiIHArJoFFOOy+2TaoDHl9hmnoadprc00En
g56NvQZZoE/M7a8DE9MZlDE46oYPK8TelJMfdCqI3ziqCXtaEpVBVfdHarW6r6KHSWPmlxSLJ55o
/243D2nWi4XdG30Lc3k5KxqMdRx6kL5lXRs/YLkf0Z4k2saVhQzhOftqbZk8fmF56n5NnQluPEan
y+OnLmo+LufF4anG8oyrMUwETOabez4aHtibzi6c/mDP1EsS76DmxUOPhEGnGBodSoEiy0gYoCSf
zdNu8GKYW64RKQzDgwSuAU15vJnZwYHWrAz8q9tvGvv584pScSUBVw9nXXuoKjHBiynyTy749lTu
P62aaTKbPxaOWpnftO3tvZ4zXpFLzEeLEedNMcKPdPjswgXz9OiaJApU6BmxPGgUbih2G6ZIc2BI
v4uV5LZm5SyqOKKkdtfWR8gKeohvUeNwPn3eYLXbtvKxNFnM+ZaaDNko/rE/ug+k5I+Gzm0f2qfK
aI7iz9sPKhoTSQfllKC+mO/69DO2l36IJc/r9IVDk7bvUh5GZbwfn4lZOqj7CKgEihPmnNYbxCVB
Ssm1DavJ+f11vgg38ZBHiouxDM9j+SxQwjY9mz1ssg6LWhFGPqeBs1bzWLSClkZqnXq4UFVT4avx
bzjG+9r3y55txmlT4lv9zd6f2yLTAj3Fd8zXd64N9Ewh/rdfIEYdRjoYGNpiwaJ5XhrkAU0ItAgB
TmCpe7Nc3mHYpJyN7zeISUhzWX89riBwGLv3/WnGZyVIwA3yRgkjCrd5M5QI6TfVh1wEvW9gIU8q
n1MMsSflRrWtVFXLOzvXuhaU7Vgt/LqCjFW/A1eDr72iCLAXfAXf6x9zj4aLo/RedqBjyNecu7v8
4D28LFfq6jbLSrYE+AYwkAPZHPP3T8jjwyDN/IQsbCG0fZ2P1KN54QXh/58Z66hqMN3+aKtm7aww
kAgByhJ2L5ooSJd3u6KMgrW7871k7fei05YIoIOnO/rMOnUmMkylqa2tZTagkFIufFnAexnuPGXn
sXQlYccSmj21pzyWWUfQRYCVmwOYP+jKUhjaTiD8yjkUoB9PuSuhGsExQ7RCFYOWkoNkD9kVzFf/
llYK5haDlOClJ8fR3GuSdghhZa4GcIP2GIPpTISpWuw95/E4NLkOKK5/2Fmsts5D6C3rVzhHN+rk
lfMh5jpLQoyMLuPYCCCm+25L7VkjY7sRqPoGOig1L9lQ65iRPjpHIA1F6LlkrA+Xd8IgL9LVS3Oc
WfTVg3DpYiL9jL77BAgmzDTa3Is62xlLcQhLseLq+tGjCMt7SaeoS8EwrAndaQm7pT4sKj4nkBNZ
aKYGpB2AN9Cf8D8jtn2y4jpMi5MfJAWksFq/1VezdiWS1dOxUCy/frINnxsB8jnO1jKwOT+G4YUS
8ggTupcSzb5tlLZ74CSQCSPgKyNBCfkHUL0laoGv5xkFd49JS8ybz9u5dFd5A7EWdul1TPGa1DGY
U/mj0NlCnHbm7JrTvj91idqGI1dJk8q+Hlr/fvi0L4SDEfQ14kMDuPyorSflMg4QV7bUfyBEon4g
Lw/sWT85SCoBHr6wgnmAGzDhyUmUVRja0g3RzeEI4vAwad+GG51PdEuwoj0T2n8e1OPb744YEmML
DRoDEF5tRz6JW4rEJL+yfQWGHaxjOLYMpDRRiPJIm1tTuOLvsCdzHHfMblPBkw+bRuXGOb170abF
EIcbBi6vl+jUwH6/ZVNTIR1kv6zd7JcmmCcxnrbU4omQZHVqHcq2Hn32GBPUDinUZCLZu6mfPgaP
UMh4rPccexG7K7a5Jp9gm7nl+ucG8RwLAf/Oi4PeJZ/nMtERjg16HLno2lObJq33Bl0CSQEaeoeI
N5fzlhUGr2IOqOfroWUrh7mxTNQYIBn5BSeHbjvpRMObEyjRpMCf528jLGFQGpL6j/uyLRO0qVkb
4M67nKiDdyr2QDwcHvbWD3PGhKulXlStjVkHNakLAOkX6HU1SHJ+p0LIZByOhPiXZO/slY4lbJD0
XthCG2IMaIxY1uA4G1QMotJDSkC3XWFpfid7bZLarTnA6X1ACDCScZm/oPDnUS9PRLlBH6ZdstM7
lIjor0zf819cz79kfCEMD4+3sgTcXbyu2/kquwb0q3sYkq1SLC8GNlO9khdCpS795yiwYIZYnSRN
IR1Duvh5cpUTpupkdtTzKydwfPDbgzKgnxZL49/zeXAVcBC/3yuOLNuL6A7zOw6dloF6RmrjbSDT
VdVzaXB24I9pw0Ol3Hmw3ZBYhDzALyrbi8tHrZtldNz721a2qIucKGaadRCaXmDe2YNH/rIMwf64
xzqzB3iVxgmz/Vkrewt5e6pqf9tSNMFSNJCBBEY0mEIUgwyocdl5rAhgasa2L0fu6S9R9vlp5Gn1
9a+T9atEv6F4NRzlDro1A3HZ4iYkoM+HfAKeabTboduEZpyQVSe7DSRmJ4GCMz3Dwy0mSyGHm8Cf
OXlPWM9xvspGXc/2xgeTzicje18D1+IHSZ4YjjaXL5MHuV9jnJj1Q8mOEMbj6H1RqToJBKv3Cf8d
YrwkFi7Pr4Id6i8/YxPQUolfj8IAuKZOxSHa/mKgnV7fOG85cPOfElDBEpPcozBhYpxyMS7CN9W1
IR65q+ZxqxnuprDSG6tVD4VlJ1MbsdcPuq6K8QyaaM+2P0qVp47uoV4EDH3P8Ff6YOjyWU5bSpv7
PJHyjkXRTUCESHSBWByAYEbqJSFyQQ45CZQ2mUe12uPpCc/3XsDadJaCaTI0v/FfJh0XiRci+dmQ
0ymplS5Ax6EwOJrrFpaEGHgP9XyEZm7JcYR323HbS8JtRC+bZCyXaO9FcKDIVur7ZhIHvNXxXXhy
BlDqYj1WPKgOLfsnFurP3MNCA6oVtZVvoRhANIc/iXzpqVLwLPs0XKYzE82jvMf7i23Cyr6N+DeF
UwYkpRQCbP0C0oTD+pOGwecj4i5E7rQIwFFZoI9fyPypo0fZ+1rbqkR/m5Xb12ALFpAU6l8cL13N
RTHEMOS50ZGpxVqw40sZWBE8JiKlf9P6h1UER3DAy1rHQjy9kkwEJgXMy/tcOBWBNh5U8ulQL5bp
jrJLO/qT2EWiuAuzgytIx5sjuoozhp1aFETokEuHaFUMfIO8RSWv3JkLTH50yC2FBwOC2gGXA7SN
52PWiT1538sAJ/RjlRROxlooECT/d2eP2ZbKKZYNttTVRfYltd4I/DPSw6TR7S/pQwNqdnOEADiN
uglWCUxBJUZbxm7XvOVPXzqf3xLyl/NGF1bJHK7/4p6s5InlXVCcPgq+wk0C2mN3X5lXdaYP9iHM
Dp/wlI0fZYyM+Zl+99pTR+t6nQLvbTUJuTCuI3oKWd4ndlkyh4jWWvZw/1OG8nLhtk7jK+4qQ19f
yBQLC/rYdXS1WTL/+VqYSZwtumrDvmPi2IOuz6bHSnMbUo5Wnq9XGM2vepCiD06DhFXlAfGmjJ8V
JuVUeCoeX28IuISo+ncZJhIZFgMdVjlQPrU4iR0kMV0CuSSniQTE3R4DGFRs/D86osbGyD1v5kbt
8qf04//SsAmartJ8m0J97eaHZLn+WW565ob22eMa1pPWgdN+MMynOHOHr0rzJIDcVqlEKNmvK95t
3TzIcX7h1t6T0MIsVcI+FVncsulUqVJrDzwJLtw+9GqVvWmKPiWSBQwNPjJyLVDbrj6eLmAsw67E
k/G7fFIIuEQSpeWcC4KfrmNwOWUpMvGIHN0uvUVBhps1Bb+cUbe3OcGComrvuH2adE9KkUYfd4nQ
tuUy3+x+r9IfZBT0aSY8qd0A5I9qOIb3ZMF+hzi++qXlk71qVc3jxmeVaMTWGRb6gQbbJ/iqWKFs
B5uKanGB8qwwtWplfFQ+piioTxOs/J407cHpSNcQP6pDxACELDJKJxiWqQkn5UTqPLEgV4gh8AaM
EprMDA2Gpa7cqV3wQWoNA+IeAknFK+dOMYKRvs62q6zreZW0i/TD6FYB1CRi1YDJvBXHMztehw9W
DT6bq9+lQAXWGdNpqg/fbRJ2G6vKeFMKF/fwaju/epXC8wjfqIeX+DJTrDAVfc3VaiScxaUvDMdY
k3TB5a6VpW8KeTmhzZU0uvxpu4vqqc7+MePJAB7QqlPjihghdZ2YrTpKm00oanaw1QtzPwnlGRCH
Sg4JzLU/hEHc0/xyrjSNTUA81Vera0Vz+RueF3CqGDygqGk3myDituaVJZbcS9X5mKJldI6qIcY8
IpGrZ6YWLE1wvxK/4hlULm5RZaub2v4W9AWFFwABpVOCwqPKthhbrCPX5UzJSOCXnhDaFxTHw7kU
tXv6dX20LEnpJZlRGbnD26i1Fh+Utp03gqL5FtT114+E6LDJlSa5ln/q8Y+ozkB7npr/gHZkB77Z
8cYOfUDCF5namLVGXW/7atFiNSKtKrP8TwnF0KzKNfioLei18xTfqWcMx8wSZIw9sYR5sZw4PWqi
6PycLFhpfidncCfat7JPuW8LDIQwC1rovxNtfW/ay38dxFcRtiSTMPK8L+Dcq7+p9LcvXaoCm/pt
bzeJv47cywkoDPdYXLYetwHbcYyZVyCEE88NFyYdL3qbqmccywn9jq3yOQ/XTytb1O7lyWpyjGWj
Pe0jOXxO0ZVLMZiE7JeZPFhaCgoekSJikUdbWWIq8ecAVJ1qsP3090SP/8Aw1gWToE7MgihGVNRm
rgH9FA==
`pragma protect end_protected
